.text {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title {
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.header {
    font-size: 20px;
    font-weight: bold;
}